h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
    height: 25px;
    width: 25px;
}

button{
    background-color: rgb(103, 87, 141);
    right: -100px;
    position: relative;
    border-radius: 2rem;
    color: whitesmoke;
}